@import (reference) '@/global.less';

.container {

  .slider {
    width: 200px;
    height: 100vh;
    border-right: 1px solid #f3f5f7;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .header {
    height: @header-height;
    background-color: #fff;
    border-bottom: 1px solid #f3f5f7;
    padding: 0 32px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 98;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.08);

    .avatar {
      background-color: #1677ff;
      cursor: pointer;
    }
  }

  .content {
    min-height: calc(100vh - 96px);
    margin: @common-size-normal;
  }
}
